/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body 
{
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background: white;
    } 
    .background-container {
        background-color: hsla(197, 92%, 60%, 1);
        background-image: radial-gradient(circle at 96% 96%, hsla(55.36363636363636, 93%, 54%, 0.85) 5%, transparent 86%), radial-gradient(circle at 5% 90%, hsla(229, 71%, 68%, 1) 13%, transparent 65%), radial-gradient(circle at 57% 73%, hsla(308, 93%, 51%, 1) 3%, transparent 89%), radial-gradient(circle at 20% 4%, hsla(318, 60%, 76%, 1) 22%, transparent 56%), radial-gradient(circle at 74% 15%, hsla(324, 92%, 59%, 1) 13%, transparent 57%);
        background-blend-mode: normal, normal, normal, normal, normal;
        height: 100vh;
        width: 100%;
        min-height: 100vh;}
  .video {
    position:fixed;
    top: 50%; left:50%;
    z-index: 1;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
  }
/* */
button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #183153;
    font-family: "Montserrat", sans-serif;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    cursor: pointer;
    border: none;
  }
  
  button:after {
    content: " ";
    width: 0%;
    height: 100%;
    background: #ffd401;
    position: absolute;
    transition: all 0.4s ease-in-out;
    right: 0;
  }
  
  button:hover::after {
    right: auto;
    left: 0;
    width: 100%;
  }
  
  button span {
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 10px 15px;
    color: #fff;
    font-size: 0.875em;
    font-weight: 700;
    letter-spacing: 0.3em;
    z-index: 20;
    transition: all 0.3s ease-in-out;
  }
  
  button:hover span {
    color: #183153;
    animation: scaleUp 0.3s ease-in-out;
  }
  
  @keyframes scaleUp {
    0% {
      transform: scale(1);
    }
  
    50% {
      transform: scale(0.95);
    }
  
    100% {
      transform: scale(1);
    }
  }
  
/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: white;
    color: black;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav-links a {
    text-decoration: none;
    color: black;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #ffd700;
}
 
/* Pagina Principal - Hero section */
.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    background: lightgray no-repeat center/cover;
    color: black;
    text-align: center;
    padding: 2rem;
}

.hero-section h1 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

.hero-section p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.btn-primary {
    background: black;
    color: white;
    padding: 0.8rem;
    text-decoration: none;
    font-weight: bold;
    border-radius: 50px;
    transition: background 0.3s, transform 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.btn-primary:hover {
    background: #333;
    transform: translateY(-3px);
}


/* Seccion de tarjetas */
.cards-container {
    padding: 3rem;
    background: #f9f9f9;
}

.cards-container h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    color: black;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
}

.card {
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s;
    color: black;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: auto;
}

.card h3 {
    margin: 1rem 0;
    font-size: 1.5rem;
}

.card p {
    padding: 0 1rem 1rem;
    font-size: 0.9rem;
}

/* Sección de contacto */
.contact-section {
    padding: 3rem;
    background: #000;
    color: white;
    text-align: center;
}

.contact-section h2 {
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
}

#contact-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 500px;
    margin: 0 auto;
}

#contact-form input,
#contact-form textarea {
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 10px;
    outline: none;
}

#contact-form button {
    background:  black ¡important;
    border: none;
    color: white;
    padding: 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 50px;
    transition: background 0.3s;
}

#contact-form button:hover {
    background: #333;
}

/* Animación de carga */
#contact-form button.loading {
    background-color: #ccc;
    cursor: not-allowed;
    position: relative;
}

#contact-form button.loading::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid transparent;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

/* Sección acerca de nosotros */
.about-section {
    padding: 3rem;
    text-align: center;
    background: white;
    color: black;
}

.about-section h2 {
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
}

.about-section p {
    font-size: 1.3rem;
}

/* Pie de página */
footer {
    padding: 1.5rem;
    background: #000;
    color: white;
    text-align: center;
    font-size: 1rem;
}

/* Mensajes Flash */
.flash-messages {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
    width: auto;
}

.alert {
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 10px;
    color: white;
    font-size: 14px;
    animation: fade-in-out 5s forwards;
}

.alert.success {
    background-color: #4CAF50;
}

.alert.danger {
    background-color: #f44336;
}

@keyframes fade-in-out {
    0% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.input {
    color: white;
    border: 2px solid #8707ff;
    border-radius: 10px;
    padding: 10px 25px;
    background: transparent;
    max-width: 190px;
  }
  
  .input:active {
    box-shadow: 2px 2px 15px #8707ff inset;
  }
  
.button {
    position: relative;
    cursor: pointer;
    border: none;
    width: 80px;
    height: 40px;
    background: #111;
    color: #fff;
  }
  
  .text {
    position: relative;
    z-index: 1;
  }
  
  .button::before {
    content: "";
    position: absolute;
    inset: 0;
    opacity: 0;
    background: radial-gradient(
        circle at 50% 50%,
        #0000 0,
        #0000 20%,
        #111111aa 50%
      ),
      radial-gradient(ellipse 100% 100%, #fff, #fff0);
    background-size:
      3px 3px,
      auto auto;
    transition: 0.3s;
  }
  
  .button:hover::before {
    opacity: 0.3;
  }
  
  .a {
    pointer-events: none;
    position: absolute;
    --w: 2px;
    --t: -40px;
    --s: calc(var(--t) * -1);
    --e: calc(100% + var(--t));
    --g: #fff0, #fff3 var(--s), #fffa var(--s), #fff, #fffa var(--e),
      #fff3 var(--e), #fff0;
  }
  
  .a::before {
    content: "";
    position: absolute;
    inset: 0;
    background: inherit;
    filter: blur(4px) url(#unopaq);
    z-index: -2;
  }
  
  .a::after {
    content: "";
    position: absolute;
    inset: 0;
    background: inherit;
    filter: blur(10px) url(#unopaq);
    opacity: 0;
    z-index: -2;
    transition: 0.3s;
  }
  
  .button:hover .a::after {
    opacity: 1;
  }
  
  .l {
    left: -2px;
  }
  
  .r {
    right: -2px;
  }
  
  .l,
  .r {
    background: linear-gradient(var(--g));
    top: var(--t);
    bottom: var(--t);
    width: var(--w);
  }
  
  .t {
    top: -2px;
  }
  
  .b {
    bottom: -2px;
  }
  
  .t,
  .b {
    background: linear-gradient(90deg, var(--g));
    left: var(--t);
    right: var(--t);
    height: var(--w);
  }
  
  .backdrop {
    position: absolute;
    inset: -9900%;
    background: radial-gradient(
      circle at 50% 50%,
      #0000 0,
      #0000 20%,
      #111111aa 50%
    );
    background-size: 3px 3px;
    z-index: -1;
  }
  

/* Diseño responsivo */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
    }

    .nav-links.active {
        display: flex;
        background: #000;
        top: 100%;
        right: 0;
        left: 0;
        padding: 1rem;
    }

    .burger {
        display: flex;
    }
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 0.6rem;
    background: #413e3e;
}

::-webkit-scrollbar-thumb {
    background: #272525;
    border-radius: 5rem;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 25px 20px 22px;
    box-shadow: rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-color: #e8e8e8;
    border-color: #ffe2e2;
    border-style: solid;
    border-width: 9px;
    border-radius: 35px;
    font-size: 25px;
    cursor: pointer;
    font-weight: 900;
    color: rgb(134, 124, 124);
    font-family: monospace;
    transition:
      transform 400ms cubic-bezier(0.68, -0.55, 0.27, 2.5),
      border-color 400ms ease-in-out,
      background-color 400ms ease-in-out;
    word-spacing: -2px;
  }
  
  @keyframes movingBorders {
    0% {
      border-color: #fce4e4;
    }
  
    50% {
      border-color: #ffd8d8;
    }
  
    90% {
      border-color: #fce4e4;
    }
  }
  
  button:hover {
    background-color: #eee;
    transform: scale(105%);
    animation: movingBorders 3s infinite;
  }
  
  button svg {
    margin-right: 11px;
    fill: rgb(255, 110, 110);
    transition: opacity 100ms ease-in-out;
  }
  
  .filled {
    position: absolute;
    opacity: 0;
    top: 20px;
    left: 22px;
  }
  
  @keyframes beatingHeart {
    0% {
      transform: scale(1);
    }
  
    15% {
      transform: scale(1.15);
    }
  
    30% {
      transform: scale(1);
    }
  
    45% {
      transform: scale(1.15);
    }
  
    60% {
      transform: scale(1);
    }
  }
  
  button:hover .empty {
    opacity: 0;
  }
  
  button:hover .filled {
    opacity: 1;
    animation: beatingHeart 1.2s infinite;
  }

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    --color: hsl(0, 0%, 87%);
    --animation: 2s ease-in-out infinite;
  }
  
  .loader .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 20px;
    height: 20px;
    border: solid 2px var(--color);
    border-radius: 50%;
    margin: 0 10px;
    background-color: transparent;
    animation: circle-keys var(--animation);
  }
  
  .loader .circle .dot {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--color);
    animation: dot-keys var(--animation);
  }
  
  .loader .circle .outline {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    animation: outline-keys var(--animation);
  }
  
  .circle:nth-child(2) {
    animation-delay: 0.3s;
  }
  
  .circle:nth-child(3) {
    animation-delay: 0.6s;
  }
  
  .circle:nth-child(4) {
    animation-delay: 0.9s;
  }
  
  .circle:nth-child(5) {
    animation-delay: 1.2s;
  }
  
  .circle:nth-child(2) .dot {
    animation-delay: 0.3s;
  }
  
  .circle:nth-child(3) .dot {
    animation-delay: 0.6s;
  }
  
  .circle:nth-child(4) .dot {
    animation-delay: 0.9s;
  }
  
  .circle:nth-child(5) .dot {
    animation-delay: 1.2s;
  }
  
  .circle:nth-child(1) .outline {
    animation-delay: 0.9s;
  }
  
  .circle:nth-child(2) .outline {
    animation-delay: 1.2s;
  }
  
  .circle:nth-child(3) .outline {
    animation-delay: 1.5s;
  }
  
  .circle:nth-child(4) .outline {
    animation-delay: 1.8s;
  }
  
  .circle:nth-child(5) .outline {
    animation-delay: 2.1s;
  }
  
  @keyframes circle-keys {
    0% {
      transform: scale(1);
      opacity: 1;
    }
  
    50% {
      transform: scale(1.5);
      opacity: 0.5;
    }
  
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  @keyframes dot-keys {
    0% {
      transform: scale(1);
    }
  
    50% {
      transform: scale(0);
    }
  
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes outline-keys {
    0% {
      transform: scale(0);
      outline: solid 20px var(--color);
      outline-offset: 0;
      opacity: 1;
    }
  
    100% {
      transform: scale(1);
      outline: solid 0 transparent;
      outline-offset: 20px;
      opacity: 0;
    }
  }
    

